<ion-view view-title="Full schedule">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="loadData()"></ion-refresher>
        <ion-list can-swipe="true">
            <div ng-repeat="item in items | groupByDay">
                <div class="item item-divider">{{item.date | amDateFormat: 'dddd D MMMM'}}</div>
                <ion-item class="item-avatar" ng-repeat="subItem in item.items">
                    <img class="rounded" src="http://dummyimage.com/80x80/ffabff/000000.png&text=R">
                    <h2>{{subItem.name}}</h2>
                    <small>{{subItem.begin | amCalendar}}</small>
                    <ion-option-button class="button-positive icon ion-email" ng-click="email(subItem)"></ion-option-button>
                    <ion-option-button class="button-assertive icon ion-trash-a" ng-click="delete(subItem)"></ion-option-button>
              </ion-item>
          </div>
        </ion-list>
    </ion-content>
</ion-view>
