.calendar table td {
    border-bottom: solid 1px #d3d3d3;
    width: 14.28571428571429%;
}

.calendar .next-month,
.calendar .past-month {
    opacity: 0;
}
.calendar table.month td {
    padding: 5px 0px 6px 0px;
}
.calendar table.month td.past-month {
    border-bottom: none;
}
.calendar table.header {
    position: absolute;
    top: 44px;
}
.calendar table td {
    text-align: center;
}
.calendar .has-header {
    top: 66px;
}
.calendar table.content td {
    padding: 8px 0px 20px 0px;
}
.calendar table.content tr:last-child td {
    border-bottom: none;
}
.calendar table.content td div:last-child {
    font-size: 0.65em;
}
.calendar table.content td .badge {

}
