.calendar table td {
    border-bottom: solid 1px #d3d3d3;
    width: 14.28571428571429%;
    font-size: 1.3em;
}

.calendar .next-month,
.calendar .past-month {
    opacity: 0;
}
.calendar table.month td {
    padding: 5px 0px 12px 0px;
}
.calendar table.month td.past-month {
    border-bottom: none;
}
.calendar table.header {
    position: absolute;
    top: 44px;
    font-size: 0.7em;
}
.calendar table td {
    text-align: center;
}
.calendar .has-header {
    top: 66px;
}
.calendar table.content td {
    padding: 4px 0px 8px 0px;
}
.calendar table.content td.weekend div:first-child span{
    color: #CCCCCC;
}
.calendar table.content td div:first-child span{
    padding: 8px 8px 8px 8px;
    display: inline-block;
}
.calendar table.content td div:last-child span{
    font-weight: bold;
}

.calendar table.content tr:last-child td {
    border-bottom: none;
}
.calendar table.content td div:last-child {
    font-size: 0.65em;
}
.calendar table.content td .badge {
    font-size: inherit;
    border-radius: 50%;
    line-height: inherit;
}
