.highlight.ng-enter,
.highlight.ng-enter .item-content {
    background-color: #FFF173;
    transition: background-color linear 1500ms;

}

.highlight.ng-enter-active,
.highlight.ng-enter-active .item-content {
    background-color: white;
}


.logout.bar.bar-footer {
    height: 75px;
    padding: 15px;
    border-top: none;
    background: none;
}

.has-footer {
    bottom: 75px;
}

.logout.bar.bar-footer>.button {
    margin: 0px;
}
.last-updated {
    font-size: 80%;
    text-align: center;
    margin-top: 10px;
}
